@page
@model RazorPages.Pages.IndexModel
@{
}

<h2>Welcome</h2>
<div class="card w-100 mb-2 p-2">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac nisl sem. Phasellus dictum nunc nec nunc volutpat, sit amet pulvinar sem rhoncus. Sed euismod neque posuere justo maximus porta tincidunt eu metus. Pellentesque posuere est egestas, laoreet elit ut, pretium justo. Ut sed auctor urna. Nam tempus magna velit, nec venenatis magna tempus nec. Praesent erat enim, scelerisque a enim lobortis, tristique aliquam metus. In vitae sapien nec magna sagittis auctor. Vestibulum at nisl nisl. Pellentesque sed rhoncus urna. Duis efficitur ante ac arcu sollicitudin, ut tempor sem ornare.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac nisl sem. Phasellus dictum nunc nec nunc volutpat, sit amet pulvinar sem rhoncus. Sed euismod neque posuere justo maximus porta tincidunt eu metus. Pellentesque posuere est egestas, laoreet elit ut, pretium justo. Ut sed auctor urna. Nam tempus magna velit, nec venenatis magna tempus nec. Praesent erat enim, scelerisque a enim lobortis, tristique aliquam metus. In vitae sapien nec magna sagittis auctor. Vestibulum at nisl nisl. Pellentesque sed rhoncus urna. Duis efficitur ante ac arcu sollicitudin, ut tempor sem ornare.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac nisl sem. Phasellus dictum nunc nec nunc volutpat, sit amet pulvinar sem rhoncus. Sed euismod neque posuere justo maximus porta tincidunt eu metus. Pellentesque posuere est egestas, laoreet elit ut, pretium justo. Ut sed auctor urna. Nam tempus magna velit, nec venenatis magna tempus nec. Praesent erat enim, scelerisque a enim lobortis, tristique aliquam metus. In vitae sapien nec magna sagittis auctor. Vestibulum at nisl nisl. Pellentesque sed rhoncus urna. Duis efficitur ante ac arcu sollicitudin, ut tempor sem ornare.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac nisl sem. Phasellus dictum nunc nec nunc volutpat, sit amet pulvinar sem rhoncus. Sed euismod neque posuere justo maximus porta tincidunt eu metus. Pellentesque posuere est egestas, laoreet elit ut, pretium justo. Ut sed auctor urna. Nam tempus magna velit, nec venenatis magna tempus nec. Praesent erat enim, scelerisque a enim lobortis, tristique aliquam metus. In vitae sapien nec magna sagittis auctor. Vestibulum at nisl nisl. Pellentesque sed rhoncus urna. Duis efficitur ante ac arcu sollicitudin, ut tempor sem ornare.</p>
</div>
<div class="d-flex justify-content-between">
    <div class="card" style="width: 22rem;">
        <img src="https://picsum.photos/200/140" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 22rem;">
        <img src="https://picsum.photos/200/140" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 22rem;">
        <img src="https://picsum.photos/200/140" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
